.article-title{
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
    font-style: normal; 
    font-variant-ligatures: normal; 
    font-variant-caps: normal; 
    font-variant-numeric: inherit; 
    font-variant-east-asian: inherit; 
    font-weight: 500; 
    font-stretch: inherit; 
    font-size: 2.75rem; 
    line-height: 1.09091; 
    font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif; 
    vertical-align: baseline; color: #3f3f42; 
    letter-spacing: normal; 
    orphans: 2; 
    text-align: start; 
    text-indent: 0px; 
    text-transform: none; 
    white-space: normal; 
    widows: 2; 
    word-spacing: 0px; 
    -webkit-text-stroke-width: 0px; 
    background-color: #ffffff;
    text-decoration-style: initial; 
    text-decoration-color: initial;
}
.main-content{
    display: flex;
}
.article{
    justify-content: center;
}
.short-article{
    display: flex;
    flex-direction: column;
}
h2 > p{
    width:200px;
}