{% extends 'base/index.html' %}
{% block title %}Home{% endblock title %}

{% block articles %}

    <aside class="col-3 px-1">
        {% for a in article %} <a style="text-decoration:none;" href={%url 'article' a.slug %}>{{a.title}}<hr/></a>{% endfor %}
    </aside>

    <article class="col-6">
        {% for a in article %}
            <div class="short-article">
                {% if not a.hide %}
                    <h2 class="article-title" >
                        <span style="font-family: Georgia, serif; font-size: 36px;">{{a.title}}</span>
                    </h2>
                    {% if a.content|safe|length >= 100 %}
                        {{a.content|truncatechars_html:250| safe}}
                        <a href={%url 'article' a.slug %}>read more...</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <hr/>
    </article>
    <aside class="col-3 px-1">
        Here will be latest blogs
    </aside>

{% endblock articles %}
